*{
    padding:0px;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.headertext{
    /* display: inline-block; */
}
.navbar{
    text-decoration: none;
    
}
#login,#reg{
border: none;
outline: none;
}
.navbar{
    list-style: none;
    display: flex;
}
.links{
    display: inline-block;
    text-decoration: none;
    color: #737373;
    padding: 0px 20px;
}
.links:hover{
    color: white;
    transition: ease 0.3s;
}
#login,#reg{
    padding: 10px 20px;
    border-radius: 100px;

}
#login{
    background-color: #865DFF;
    color: white;
    
}
#reg{
    background-color: transparent;
    color: white;
    padding:8px 20px;
    border-bottom:3px solid #865DFF ;
}
.hero{
    /* display: flex; */
    background: linear-gradient(#191825,#191825,#865DFF);
    text-align: center;
    height: 90vh;
    color: white;
}

.hero-text{
    padding:10% 0px 30px 0px;
    font-size: 150%;
}

/* Style for the search container */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17%;
}

/* Style for the search input */
#search-input {
    color: black;
    padding: 8px;
    border: 2px solid #ccc ;
    border-radius: 70px;
    margin-right: 8px;
    height: 30%;
    width: 29%; /* Adjust width as needed */
    background-color: white;
    
}
#search-input::placeholder{
    font-size: 16px;
    color: #737373;
    
}
.bx{
    z-index: 3;
}

/* 2nd section */
.sec2{
    background: linear-gradient(#865DFF,white);
    height: 100px;
    backdrop-filter: blur(10px);
}

/* 3rd section */
.sec3{
    display: flex;
    background-color: white;
    height: max-content;
    flex-direction: column;
    
}
.left-p,.right-p{
    display: grid;
    /* text-align: center; */
    grid-template-columns: 1fr; /* Create one column */
    grid-gap: 0px; /* Set gap between items */
    justify-content: center;
    align-items: center; 
    
    
}
.left-p{
    text-align: right;
    padding-left: 10%;
}
.right-p{
    text-align: left;
    padding-right: 10%;
}
.cont1,.cont2,.cont3{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h1,p{
    display: block;
}

.left-img{
    border-radius: 10px;
    width: 55%;
    margin-left: 30px;
    margin-top: 4%;
}
.left-img2{
    border-radius: 10px;
    width: 30%;
    margin-left: 30px;
    margin-top: 4%;
}
.right-img{
    border-radius: 10px;
    width: 30%;
    margin-right: 30px;
    margin-top: 4%;
}


/* Style for the search button
#search-button {
    padding: 8px 16px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */

/* Hover effect for the search button
#search-button:hover {
    background-color: #0056b3; 
} */
